/yolov5/
/ultralytics/
.idea/
__pycache__/
venv/
/Lib/
/Traffic-Control-project-3/
/Test input video/
/self development images/

/.env
/Test output video/
*.mp4
/Traffic-Control-№2-1/
/Traffic-Control-№3-1/
/self development dataset/
